<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer class="footer-section">
        <div class="address_ctx">
            <div class="footer-widget-heading">
                <h3>REACH US</h3>
            </div>
            <div class="box-container">
                <i class="fas fa-phone"></i>
                <div class="cta-text">
                    <h4>Phone</h4>
                    <span> 7257979881, 7257979882 </span>
                </div>
            </div>
            <div class="box-container">
                <i class="far fa-envelope-open"></i>
                <div class="cta-text">
                    <h4>Email</h4>
                    <span>classes@vidyavyukta.com</span>
                </div>
            </div>
            <div class="box-container">
                <i class="fas fa-map-marker-alt"></i>
                <div class="cta-text">
                    <h4>Address</h4>
                    <span>Vidyavyukta classes, Madhav Niwas,
                        Brahmsthan, Kurthoul, Pl.No. 45,
                        Patna - 804453, Bihar .</span>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:2rem ;">
            <div class="columncontainer">
                <div class="footer-widget">
                    <div class="footer-widget-heading">
                        <h3>Useful Links</h3>
                    </div>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">about us</a></li>
                        <li><a href="">customer support</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms of use </a></li>
                        <li><a href="">Expert Team</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright-area">
        <div class="socialmedia">
            <a id="facebookfooter"><i class="fab fa-facebook-f facebook-bg" style="cursor: pointer; "></i></a>
            <a id="instagramfooter"><i class="fa-brands fa-instagram" style="cursor: pointer;"></i></a>
            <a id="googlefooter"><i class="fab fa-google-plus-g google-bg" style="cursor: pointer;"></i></a>
            <a id="youtubefooter"><i class="fa-brands fa-youtube youtube" style="color: red; cursor: pointer;"></i></a>
        </div>
        <div class="copyright-text">
            <p>Copyright &copy;2022, All Right Reserved</p>
        </div>
        </div>
</body>
<script >
    document.getElementById("facebookfooter").addEventListener("click",()=>{
        window.open("https://www.facebook.com/vidyavyuktaclass");
    });
    document.getElementById("instagramfooter").addEventListener("click",()=>{
        window.open("https://www.instagram.com/vidyavyukta/");
    });
    document.getElementById("youtubefooter").addEventListener("click",()=>{
        window.open("https://www.youtube.com/channel/UCuCXYA49522yClX4wFwNisw");
    });
    document.getElementById("googlefooter").addEventListener("click",()=>{
        window.open("https://www.google.com/search?q=vidyavyukta+classes&oq=vidyavyukta+classes&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQABiiBDIGCAIQRRg90gEIOTgxMmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8 ");
    });
</script>

</html>