<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
    <%- include('menu.ejs') %>
        <main>
            <div id="blogdiv">
                <div class="container">
                    <img class="image"
                        src="https://codesupply.co/wp-content/uploads/2022/07/how-to-write-a-blog-post-fast-1-1160x653.jpg"
                        alt="Image">
                    <h1 class="title">Best Blogging Apps And Website For Your Creativity</h1>
                    <p class="subtitle">The Ultimate Collection</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repellat fugit placeat nam
                        repudiandae harum cupiditate sapiente expedita non veritatis voluptas est voluptatibus dolores
                        debitis! Laboriosam doloribus exercitationem ex non?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde totam ipsa exercitationem vel
                        voluptatem porro nesciunt minus dicta eaque laborum distinctio harum, rem velit, aliquid nulla,
                        placeat blanditiis perferendis aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit accusamus
                        reprehenderit sunt quod ipsam possimus aliquid saepe ad laudantium eius deserunt, delectus cum,
                        iste quae. Accusantium ad dolores sunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ullam facere
                        sunt voluptatum atque veniam! Rerum eaque ut quaerat ipsa assumenda, laboriosam recusandae
                        aliquam maxime, consectetur, corporis molestias sequi?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque perferendis, distinctio
                        repellendus sequi nobis doloremque itaque qui! Dolor quas veritatis unde quaerat? Reprehenderit
                        eligendi impedit, tenetur tempora illum dignissimos vero!
                    </p>
                </div>
                <div class="container">
                    <img class="image"
                        src="https://codesupply.co/wp-content/uploads/2022/07/how-to-write-a-blog-post-fast-1-1160x653.jpg"
                        alt="Image">
                    <h1 class="title">Best Blogging Apps And Website For Your Creativity</h1>
                    <p class="subtitle">The Ultimate Collection</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repellat fugit placeat nam
                        repudiandae harum cupiditate sapiente expedita non veritatis voluptas est voluptatibus dolores
                        debitis! Laboriosam doloribus exercitationem ex non?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde totam ipsa exercitationem vel
                        voluptatem porro nesciunt minus dicta eaque laborum distinctio harum, rem velit, aliquid nulla,
                        placeat blanditiis perferendis aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit accusamus
                        reprehenderit sunt quod ipsam possimus aliquid saepe ad laudantium eius deserunt, delectus cum,
                        iste quae. Accusantium ad dolores sunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ullam facere
                        sunt voluptatum atque veniam! Rerum eaque ut quaerat ipsa assumenda, laboriosam recusandae
                        aliquam maxime, consectetur, corporis molestias sequi?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque perferendis, distinctio
                        repellendus sequi nobis doloremque itaque qui! Dolor quas veritatis unde quaerat? Reprehenderit
                        eligendi impedit, tenetur tempora illum dignissimos vero!
                    </p>
                </div>
                <div class="container">
                    <img class="image"
                        src="https://codesupply.co/wp-content/uploads/2022/07/how-to-write-a-blog-post-fast-1-1160x653.jpg"
                        alt="Image">
                    <h1 class="title">Best Blogging Apps And Website For Your Creativity</h1>
                    <p class="subtitle">The Ultimate Collection</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repellat fugit placeat nam
                        repudiandae harum cupiditate sapiente expedita non veritatis voluptas est voluptatibus dolores
                        debitis! Laboriosam doloribus exercitationem ex non?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde totam ipsa exercitationem vel
                        voluptatem porro nesciunt minus dicta eaque laborum distinctio harum, rem velit, aliquid nulla,
                        placeat blanditiis perferendis aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit accusamus
                        reprehenderit sunt quod ipsam possimus aliquid saepe ad laudantium eius deserunt, delectus cum,
                        iste quae. Accusantium ad dolores sunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ullam facere
                        sunt voluptatum atque veniam! Rerum eaque ut quaerat ipsa assumenda, laboriosam recusandae
                        aliquam maxime, consectetur, corporis molestias sequi?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque perferendis, distinctio
                        repellendus sequi nobis doloremque itaque qui! Dolor quas veritatis unde quaerat? Reprehenderit
                        eligendi impedit, tenetur tempora illum dignissimos vero!
                    </p>
                </div>
                <div class="container">
                    <img class="image"
                        src="https://codesupply.co/wp-content/uploads/2022/07/how-to-write-a-blog-post-fast-1-1160x653.jpg"
                        alt="Image">
                    <h1 class="title">Best Blogging Apps And Website For Your Creativity</h1>
                    <p class="subtitle">The Ultimate Collection</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repellat fugit placeat nam
                        repudiandae harum cupiditate sapiente expedita non veritatis voluptas est voluptatibus dolores
                        debitis! Laboriosam doloribus exercitationem ex non?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde totam ipsa exercitationem vel
                        voluptatem porro nesciunt minus dicta eaque laborum distinctio harum, rem velit, aliquid nulla,
                        placeat blanditiis perferendis aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit accusamus
                        reprehenderit sunt quod ipsam possimus aliquid saepe ad laudantium eius deserunt, delectus cum,
                        iste quae. Accusantium ad dolores sunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ullam facere
                        sunt voluptatum atque veniam! Rerum eaque ut quaerat ipsa assumenda, laboriosam recusandae
                        aliquam maxime, consectetur, corporis molestias sequi?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque perferendis, distinctio
                        repellendus sequi nobis doloremque itaque qui! Dolor quas veritatis unde quaerat? Reprehenderit
                        eligendi impedit, tenetur tempora illum dignissimos vero!
                    </p>
                </div>
                <div class="container">
                    <img class="image"
                        src="https://codesupply.co/wp-content/uploads/2022/07/how-to-write-a-blog-post-fast-1-1160x653.jpg"
                        alt="Image">
                    <h1 class="title">Best Blogging Apps And Website For Your Creativity</h1>
                    <p class="subtitle">The Ultimate Collection</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repellat fugit placeat nam
                        repudiandae harum cupiditate sapiente expedita non veritatis voluptas est voluptatibus dolores
                        debitis! Laboriosam doloribus exercitationem ex non?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde totam ipsa exercitationem vel
                        voluptatem porro nesciunt minus dicta eaque laborum distinctio harum, rem velit, aliquid nulla,
                        placeat blanditiis perferendis aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit accusamus
                        reprehenderit sunt quod ipsam possimus aliquid saepe ad laudantium eius deserunt, delectus cum,
                        iste quae. Accusantium ad dolores sunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ullam facere
                        sunt voluptatum atque veniam! Rerum eaque ut quaerat ipsa assumenda, laboriosam recusandae
                        aliquam maxime, consectetur, corporis molestias sequi?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque perferendis, distinctio
                        repellendus sequi nobis doloremque itaque qui! Dolor quas veritatis unde quaerat? Reprehenderit
                        eligendi impedit, tenetur tempora illum dignissimos vero!
                    </p>
                </div>
                <div class="container">
                    <img class="image"
                        src="https://codesupply.co/wp-content/uploads/2022/07/how-to-write-a-blog-post-fast-1-1160x653.jpg"
                        alt="Image">
                    <h1 class="title">Best Blogging Apps And Website For Your Creativity</h1>
                    <p class="subtitle">The Ultimate Collection</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repellat fugit placeat nam
                        repudiandae harum cupiditate sapiente expedita non veritatis voluptas est voluptatibus dolores
                        debitis! Laboriosam doloribus exercitationem ex non?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde totam ipsa exercitationem vel
                        voluptatem porro nesciunt minus dicta eaque laborum distinctio harum, rem velit, aliquid nulla,
                        placeat blanditiis perferendis aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit accusamus
                        reprehenderit sunt quod ipsam possimus aliquid saepe ad laudantium eius deserunt, delectus cum,
                        iste quae. Accusantium ad dolores sunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ullam facere
                        sunt voluptatum atque veniam! Rerum eaque ut quaerat ipsa assumenda, laboriosam recusandae
                        aliquam maxime, consectetur, corporis molestias sequi?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque perferendis, distinctio
                        repellendus sequi nobis doloremque itaque qui! Dolor quas veritatis unde quaerat? Reprehenderit
                        eligendi impedit, tenetur tempora illum dignissimos vero!
                    </p>
                </div>
                <div class="container">
                    <img class="image"
                        src="https://codesupply.co/wp-content/uploads/2022/07/how-to-write-a-blog-post-fast-1-1160x653.jpg"
                        alt="Image">
                    <h1 class="title">Best Blogging Apps And Website For Your Creativity</h1>
                    <p class="subtitle">The Ultimate Collection</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repellat fugit placeat nam
                        repudiandae harum cupiditate sapiente expedita non veritatis voluptas est voluptatibus dolores
                        debitis! Laboriosam doloribus exercitationem ex non?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde totam ipsa exercitationem vel
                        voluptatem porro nesciunt minus dicta eaque laborum distinctio harum, rem velit, aliquid nulla,
                        placeat blanditiis perferendis aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit accusamus
                        reprehenderit sunt quod ipsam possimus aliquid saepe ad laudantium eius deserunt, delectus cum,
                        iste quae. Accusantium ad dolores sunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ullam facere
                        sunt voluptatum atque veniam! Rerum eaque ut quaerat ipsa assumenda, laboriosam recusandae
                        aliquam maxime, consectetur, corporis molestias sequi?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque perferendis, distinctio
                        repellendus sequi nobis doloremque itaque qui! Dolor quas veritatis unde quaerat? Reprehenderit
                        eligendi impedit, tenetur tempora illum dignissimos vero!
                    </p>
                </div>
                <div class="container">
                    <img class="image"
                        src="https://codesupply.co/wp-content/uploads/2022/07/how-to-write-a-blog-post-fast-1-1160x653.jpg"
                        alt="Image">
                    <h1 class="title">Best Blogging Apps And Website For Your Creativity</h1>
                    <p class="subtitle">The Ultimate Collection</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repellat fugit placeat nam
                        repudiandae harum cupiditate sapiente expedita non veritatis voluptas est voluptatibus dolores
                        debitis! Laboriosam doloribus exercitationem ex non?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde totam ipsa exercitationem vel
                        voluptatem porro nesciunt minus dicta eaque laborum distinctio harum, rem velit, aliquid nulla,
                        placeat blanditiis perferendis aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit accusamus
                        reprehenderit sunt quod ipsam possimus aliquid saepe ad laudantium eius deserunt, delectus cum,
                        iste quae. Accusantium ad dolores sunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ullam facere
                        sunt voluptatum atque veniam! Rerum eaque ut quaerat ipsa assumenda, laboriosam recusandae
                        aliquam maxime, consectetur, corporis molestias sequi?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque perferendis, distinctio
                        repellendus sequi nobis doloremque itaque qui! Dolor quas veritatis unde quaerat? Reprehenderit
                        eligendi impedit, tenetur tempora illum dignissimos vero!
                    </p>
                </div>
            </div>
        </main>
        <%- include('footer.ejs') %>
            <script> let data = '<%- JSON.stringify(returndata) %>' </script>
            <script src="/js/homepage.js"></script>

</html>